@font-face {
  font-family: 'Radiance';
  src: url(../../fonts/radiance.woff) format('woff');
}

.component-parent-select {
  position: relative;
  font-family: Arial;
}

/* apagar o select original para criar um grupo de divs que vao atuar como o select */
.component-parent-select select {
  display: none;
}

.component-custom-select-selected{
  background-color: #222222;
  cursor: pointer;
  color: #cccbcb;
  border: 1px solid transparent;
  padding: 5px;
  min-width: 90px;
  display: flex;
  justify-content: center;
}

.select-items div,.component-custom-select {
  color: #999; /* List of non select items font color */
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #222222; /*background certin */ 
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.main-video{
  padding: 0px;
  margin:0pc;
  width: fit-content;
  max-width: 100%;
  position: absolute;
  top:0px;
  left:0px;
  z-index: -1;
}

.gradient-video-footer{
  width: 100%;
  height: 200px;
  position: absolute;
  top: 625px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.7) 80%, black 100%);
}
